<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>

    <script src="angular.min.js"></script>
    <script src="app.js"></script>

    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as Ctrl1">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="Ctrl1.searchTerm">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="Ctrl1.getMatchedMenuItems(Ctrl1.searchTerm)">Narrow It Down For Me!</button>
    </div>

    <found-items
      items="Ctrl1.items"
      title="{{Ctrl1.title}}"
      nodatafound = "{{Ctrl1.nodatafound}}"
      on-remove="Ctrl1.removeItem(index)"></found-items>

  </div>

</body>
</html>
